<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssst.stree">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".security.EmergencyNumbers" />
        <activity android:name=".financial.SellerDetails" />
        <activity android:name=".financial.ProductDetails" />
        <activity android:name=".financial.SellerView" />
        <activity android:name=".financial.AddBusiness" />
        <activity android:name=".financial.AddProduct" />
        <activity android:name=".auth.SignUp" />
        <activity android:name=".auth.SignIn" />
        <activity android:name=".problems.Problems" />
        <activity android:name=".financial.Financial" />
        <activity android:name=".skilldev.SkillDevelopment" />
        <activity android:name=".awareness.Awareness" />
        <activity android:name=".security.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>